<div id="infosProduct" *ngIf="products">
    <h1>Page d'affichage du produit</h1>
    <select #productList [ngModel]="productList.value" (change)='getProductId(productList.value)'>
        <option *ngFor="let product of products" [value]="product.id" >{{product.name}}</option>
    </select> 

    <ul *ngIf="product">
        <li>
           Id : {{product.id}}
        </li>
        <li>
           Nom : {{product.name}}
        </li>
        <li>
           Prix : {{product.price}}
        </li>
        <li>
            Prix en promotion : {{product.discount}}
            <button (click)="afficherUpdatePromo=true">Modifier promotion</button>
            <button (click)="updateSale(0, product, product.price)">Retirer promotion</button>
            <div *ngIf="afficherUpdatePromo == true">
               <input class="form-control" required [(ngModel)]="promotionChange"/>
               <button (click)="updateSale(promotionChange, product, product.price)">Valider</button> 
            </div>  
         </li>                   
        <li>
            Quantité stock : {{product.quantity}} 
            <button (click)="afficherUpdateStock=true">Modifier Quantité</button>
            <div *ngIf="afficherUpdateStock == true">
               <input type="text" class="form-control" id="name" 
               required
               [(ngModel)]="quantityChange" />
                <button (click)="updateStock(quantityChange, product)">Valider</button>
            </div>
         </li>        
        <li>
            Nombre d'article vendus : {{product.quantity_sold}}
         </li>
        <li>
            Commentaire : {{product.comments}}
         </li>        
    </ul>
</div>