<div id="infosProduct" *ngIf="products">
    <h1>Page d'affichage du produit</h1>
    <select #productList [ngModel]="productList.value" (change)='getProductId(productList.value)'>
        <option *ngFor="let product of products" [value]="product.id" >{{product.name}}</option>
    </select> 

    <ul *ngIf="product">
        <li>
           Id : {{product.id}}
        </li>
        <li>
           Nom : {{product.name}}
        </li>
        <li>
           Prix : {{product.price}}
        </li>
        <li>
            <ng-container *ngIf="product.sale == true">
               Prix en promotion : {{product.discount}}
            </ng-container>
            <button (click)="afficherUpdatePromo=true">Modifier promotion</button>
            <button (click)="updateSale(0, product, product.price)">Retirer promotion</button>
            <div *ngIf="afficherUpdatePromo == true">
               <input required [(ngModel)]="promotionChange"/>
               <button (click)="updateSale(promotionChange, product, product.price)">Valider</button> 
            </div>  
         </li>                   
        <li>
            Quantité stock : {{product.quantity}} 
            <button (click)="afficherUpdateStock=true">Modifier Quantité</button>
            <div *ngIf="afficherUpdateStock == true">
               <input type="text" required [(ngModel)]="quantityChange" />

               <select (change)='getOperation($event.target.value)'>
                  <option value="Vendu">Vendu</option>
                  <option value="Perimer">Perimer</option>
                  <option value="Ajouter">Ajouter</option>
               </select>

               <ng-container *ngIf="afficherPrixAjout == true">
                  <input type="text" required [(ngModel)]="prixAjout" placeholder="Prix de l'ajout" />
               </ng-container>
               
               <button (click)="updateStock(quantityChange, product, product.price, product.discount, product.category)">Valider</button>
            </div>
         </li>        
        <li>
            Nombre d'article vendus : {{product.quantitySold}}
         </li>
        <li>
            Commentaire : {{product.comments}}
         </li>        
    </ul>
</div>