.row {
    margin-top: 10px;
}

.col-sm-12 {
    text-align: center;
}

.card-header {
    font-weight: 700;
    font-size: 20px;
}

.title {
    font-weight: 700;
    font-size: 30px;
}

.card-footer {
    text-align: center;
}

.btn-primary {
    background-color: #fe881c;
    border-color: #fe881c;
}
