<div class="border-black" style="text-align: center;">   
    <p class="text-3xl text-purple-700 text-opacity-50">Poissons</p>
    <table id="products" class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%; table-layout:fixed">
        <col style="width:10%" span="4" />
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Promotion</th>
            <th>Quantité</th>
            <th>Vendus</th>
            <th>Commentaire</th>
            <th>Ajout Stock</th>
            <th>Ajout Promo</th>
        </tr>
        <tr *ngFor="let productList of products">
            <ng-container *ngIf="productList.category == 0">
                <td>{{productList.name}}</td>
                <td>{{productList.price}}</td>
                <td>{{productList.discount}}</td>
                <td>{{productList.quantity_stock}}</td>
                <td>{{productList.quantity_sold}}</td>
                <td>{{productList.comments}}</td>
                <td style="text-align: center;"><input/></td>
                <td style="text-align: center;"><input/></td>  
            </ng-container>          
        </tr>        
    </table>    
</div>

<div class="border-black" style="text-align: center;">
    <p class="text-3xl text-purple-700 text-opacity-50">Fruits de mer</p>
    <table id="products" class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%; table-layout:fixed">
        <col style="width:10%" span="4" />
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Promotion</th>
            <th>Quantité</th>
            <th>Vendus</th>
            <th>Commentaire</th>
            <th>Ajout Stock</th>
            <th>Ajout Promo</th>
        </tr>
        <tr *ngFor="let productList of products">
            <ng-container *ngIf="productList.category == 1">
                <td>{{productList.name}}</td>
                <td>{{productList.price}}</td>
                <td>{{productList.discount}}</td>
                <td>{{productList.quantity_stock}}</td>
                <td>{{productList.quantity_sold}}</td>
                <td>{{productList.comments}}</td>
                <td style="text-align: center;"><input/></td>
                <td style="text-align: center;"><input/></td> 
            </ng-container>           
        </tr>   
    </table>
</div>

<div class="border-black" style="text-align: center;">
    <p class="text-3xl text-purple-700 text-opacity-50">Crustacés</p>
    <table id="products" class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%; table-layout:fixed">
        <col style="width:10%" span="4" />
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Promotion</th>
            <th>Quantité</th>
            <th>Vendus</th>
            <th>Commentaire</th>
            <th>Ajout Stock</th>
            <th>Ajout Promo</th>
        </tr>
        <tr *ngFor="let productList of products">
            <ng-container *ngIf="productList.category == 2">
                <td>{{productList.name}}</td>
                <td>{{productList.price}}</td>
                <td>{{productList.discount}}</td>
                <td>{{productList.quantity_stock}}</td>
                <td>{{productList.quantity_sold}}</td>
                <td>{{productList.comments}}</td>
                <td style="text-align: center;"><input/></td>
                <td style="text-align: center;"><input/></td>
            </ng-container>            
        </tr>      
    </table>
</div>