<div class="border-black" style="text-align: center;">   
    <p class="text-3xl text-purple-700 text-opacity-50">Poissons</p>
    <table class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%;">
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Prix en promotion</th>
            <th>Promotion</th>
            <th>Quantité</th>
            <th>Vendus</th>
            <th>Commentaire</th>
            <th>&nbsp;</th>
        </tr>
        <tr *ngFor="let product of products">
            <ng-container *ngIf="product.category == 0">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    {{product.discount}}
                    <ng-container *ngIf="product.sale == true">
                        <button (click)="updateSale(0, product, product.price)">-</button>
                    </ng-container>
                </td>
                <td><input/></td>
                <td><input required [(ngModel)]="product.quantity"/></td>
                <td>{{product.quantity_sold}}</td>
                <td>{{product.comments}}</td>  
                <td><button (click)="updateStock(quantityChange, product)">Update</button></td>                
            </ng-container>          
        </tr>        
    </table>    
</div>

<div class="border-black" style="text-align: center;">
    <p class="text-3xl text-purple-700 text-opacity-50">Fruits de mer</p>
    <table class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%;">
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Prix en promotion</th>
            <th>Promotion</th>
            <th>Quantité</th>
            <th>Vendus</th>
            <th>Commentaire</th>
            <th>&nbsp;</th>
        </tr>
        <tr *ngFor="let product of products">
            <ng-container *ngIf="product.category == 1">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    {{product.discount}}
                    <ng-container *ngIf="product.sale == true">
                        <button>-</button>
                    </ng-container>
                </td>
                <td><input></td>
                <td><input required [(ngModel)]="product.quantity"/></td>
                <td>{{product.quantity_sold}}</td>
                <td>{{product.comments}}</td>  
                <td><button (click)="updateStock(quantityChange, product)">Update</button></td>
            </ng-container>          
        </tr>        
    </table>
</div>

<div class="border-black" style="text-align: center;">
    <p class="text-3xl text-purple-700 text-opacity-50">Crustacés</p>
    <table class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%;">
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Prix en promotion</th>
            <th>Promotion</th>
            <th>Quantité</th>
            <th>Vendus</th>
            <th>Commentaire</th>
            <th>&nbsp;</th>
        </tr>
        <tr *ngFor="let product of products">
            <ng-container *ngIf="product.category == 2">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    {{product.discount}}
                    <ng-container *ngIf="product.sale == true">
                        <button>-</button>
                    </ng-container>
                </td>
                <td><input/></td>
                <td><input required [(ngModel)]="product.quantity"/></td>
                <td>{{product.quantity_sold}}</td>
                <td>{{product.comments}}</td>
                <td><button (click)="updateStock(quantityChange, product)">Update</button></td>  
            </ng-container>          
        </tr>          
    </table>
</div>