<div class="border-black" style="text-align: center;">   
    <button type="button" class="block" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">Poissons</button>
    <div class="collapse" id="collapse1">
        <table id="products" class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%; table-layout:fixed">
            <col style="width:10%" span="4" />
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Prix en promotion</th>
                <th>Promotion</th>
                <th>Quantité</th>
                <th>Vendus</th>
                <th>Commentaire</th>
            </tr>
            <tr *ngFor="let product of products">
                <ng-container *ngIf="product.category == 0">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        {{product.discount}}
                        <ng-container *ngIf="product.sale == true">
                            <button (click)="updateSale('0%', product, product.price)">-</button>
                        </ng-container>
                    </td>
                    <td>
                        <select (change)="updateSale($event.target.value, product, product.price)" id="select_pourcentage_{{product.id}}">
                            <option *ngFor="let percentage of percentages" value="{{percentage}}">{{percentage}}</option>
                        </select>
                    </td>
                    <td>
                        {{product.quantity}}
                        <input id="input_quantity_{{product.id}}" (change)="updateQuantityChange($event.target.value, product)" style="width: 50px; border: 2px solid;"/>
                        <select id="select_operation_{{product.id}}" (change)='getOperation($event.target.value, product)'>
                            <option value="Vendu">Vendu</option>
                            <option value="Perimer">Perimer</option>
                            <option value="Ajouter">Ajouter</option>
                         </select>
                         <ng-container *ngIf="product.operation == 'Ajouter'">
                            <input (change)="updatePrixAjout($event.target.value, product)" type="text" id="input_prix_{{product.id}}" placeholder="Prix de l'ajout" />
                         </ng-container>
                         <button (click)="updateStock(product.quantityChange, product, product.price, product.discount, product.prixAjout, product.category)">Modifier</button>
                    </td>
                    <td>{{product.quantitySold}}</td>
                    <td>{{product.comments}}</td>  
                </ng-container>          
            </tr>      
        </table>
    </div>    
</div>

<div class="border-black" style="text-align: center;">
    <button type="button" class="block" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Fruits de mer</button>
    <div class="collapse" id="collapse2">
        <table id="products" class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%; table-layout:fixed">
            <col style="width:10%" span="4" />
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Prix en promotion</th>
                <th>Promotion</th>
                <th>Quantité</th>
                <th>Vendus</th>
                <th>Commentaire</th>
            </tr>
            <tr *ngFor="let product of products">
                <ng-container *ngIf="product.category == 1">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        {{product.discount}}
                        <ng-container *ngIf="product.sale == true">
                            <button (click)="updateSale('0%', product, product.price)">-</button>
                        </ng-container>
                    </td>
                    <td>
                        <select (change)="updateSale($event.target.value, product, product.price)" id="select_pourcentage_{{product.id}}">
                            <option *ngFor="let percentage of percentages" value="{{percentage}}">{{percentage}}</option>
                        </select>
                    </td>
                    <td>
                        {{product.quantity}}
                        <input id="input_quantity_{{product.id}}" (change)="updateQuantityChange($event.target.value, product)" style="width: 50px; border: 2px solid;"/>
                        <select id="select_operation_{{product.id}}" (change)='getOperation($event.target.value, product)'>
                            <option value="Vendu">Vendu</option>
                            <option value="Perimer">Perimer</option>
                            <option value="Ajouter">Ajouter</option>
                         </select>
                         <ng-container *ngIf="product.operation == 'Ajouter'">
                            <input (change)="updatePrixAjout($event.target.value, product)" type="text" id="input_prix_{{product.id}}" placeholder="Prix de l'ajout" />
                         </ng-container>
                         <button (click)="updateStock(product.quantityChange, product, product.price, product.discount, product.prixAjout, product.category)">Modifier</button>
                    </td>
                    <td>{{product.quantitySold}}</td>
                    <td>{{product.comments}}</td>  
                </ng-container>          
            </tr>  
        </table>
    </div>
</div>

<div class="border-black" style="text-align: center;">
    <button type="button" class="block" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse2">Crustacés</button>
    <div class="collapse" id="collapse3">
        <table id="products" class="table-auto border-separate border border-green-800" style="margin:auto; text-align:left; width:80%; table-layout:fixed">
            <col style="width:10%" span="4" />
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Prix en promotion</th>
                <th>Promotion</th>
                <th>Quantité</th>
                <th>Vendus</th>
                <th>Commentaire</th>
            </tr>
            <tr *ngFor="let product of products">
                <ng-container *ngIf="product.category == 2">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        {{product.discount}}
                        <ng-container *ngIf="product.sale == true">
                            <button (click)="updateSale('0%', product, product.price)">-</button>
                        </ng-container>
                    </td>
                    <td>
                        <select (change)="updateSale($event.target.value, product, product.price)" id="select_pourcentage_{{product.id}}">
                            <option *ngFor="let percentage of percentages" value="{{percentage}}">{{percentage}}</option>
                        </select>
                    </td>
                    <td>
                        {{product.quantity}}
                        <input id="input_quantity_{{product.id}}" (change)="updateQuantityChange($event.target.value, product)" style="width: 50px; border: 2px solid;"/>
                        <select id="select_operation_{{product.id}}" (change)='getOperation($event.target.value, product)'>
                            <option value="Vendu">Vendu</option>
                            <option value="Perimer">Perimer</option>
                            <option value="Ajouter">Ajouter</option>
                         </select>
                         <ng-container *ngIf="product.operation == 'Ajouter'">
                            <input (change)="updatePrixAjout($event.target.value, product)" type="text" id="input_prix_{{product.id}}" placeholder="Prix de l'ajout" />
                         </ng-container>
                         <button (click)="updateStock(product.quantityChange, product, product.price, product.discount, product.prixAjout, product.category)">Modifier</button>
                    </td>
                    <td>{{product.quantitySold}}</td>
                    <td>{{product.comments}}</td>
                </ng-container>          
            </tr>     
        </table>
    </div>
</div>