<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-sm-12">
            <h2>Statistiques de l'année</h2>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="month-select">Choississez l'année:</label>
                        </div>
                        <div class="col-sm-6">
                            <select #yearList id="year-select" [ngModel]="yearList.value" style="width: 400px;">
                                <option value="">--Veuillez choisir une année--</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="year-select">Choississez la catégorie de produits:</label>
                        </div>
                        
                        <div class="col-sm-6">
                            <select #categoryList id="category-select" [ngModel]="categoryList.value" style="width: 400px;">
                                <option value="">--Veuillez choisir une catégorie--</option>
                                <option value="-1">Tous</option>
                                <option value="0">Poisson</option>
                                <option value="1">Crustacé</option>
                                <option value="2">Coquillage</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" (click)='getGainPerMonthForYear(yearList.value,categoryList.value)'>Envoyer</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <figure id="bar"></figure>
                </div>

                <div class="card-footer">
                    <p>Total des gains de l'année : {{totalgain.totalGainPerYear}} €</p>
                </div>
            </div>
        </div>
    </div>
</div>        
