.row {
    margin-top: 10px;
}

.card {
    margin-bottom: 10px;
}

.card-header {
    font-weight: 600;
    font-size: 20px;
}

.card-body {
    text-align: center;
}

.card-footer {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.col-sm-12 {
    text-align: center;
}


.btn-primary {
    background-color: #fe881c;
    border-color: #fe881c;
}
